// Colors
$mainOrange: #d59541;
// $mainOrange: #2099E8;
$grey: #333333;
$lightGrey:  #fafafa;
$light-grey-border:  #eeeeee;

// Navigation colors
$nav-background: $grey;

// Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;


// Green
$green:   #B0F17F;
$greenBorder: #529200;

// yellow
$yellow: #FFD300;
$mainBlue: #2f5572;
