.about {
  p {
    font-size: 1.3rem;
    margin-bottom: 0;
    color: $mainBlue;
  }

  ul {
    margin: 0;

    li {
      list-style: none;
      padding: 13px;
      transition: background .3s ease-out;
    }

    .react {
      &:hover {
        background-color: #61dafb;
      }
    }

    .foundation {
      &:hover {
        background-color: #f88327;
      }
    }

    .moment {
      &:hover {
        background-color: #61b2a7;
      }
    }

    .weatherb {
      &:hover {
        background-color: #d26c22;
      }
    }

    .redux {
      &:hover {
        background-color: #DC7BD7;

        .comment {
          color: white;
        }
      }
    }

    .karma {
      &:hover {
        background-color: #8D6748;

        .comment {
          color: white;
        }
      }
    }

    .firebase {
      &:hover {
        background-color: #ffb300;

        .comment {
          color: white;
        }
      }
    }

  }

  .comment {
    color: $mainOrange;
    font-size: 1rem;
    margin-left: 7px;
  }

  .container__footer {
    padding: 16px;
    p {
      color: #999;
    }
  }

}

.container__header {
  h4 {
    text-align: center;
    font-size: 1.3rem;
    color: #999;
    margin-bottom: 0;
  }
}
